build==1.0.0
click==8.1.7
colorama==0.4.6
dearpygui==1.9.1
flake8==6.1.0
glfw==2.5.6
mccabe==0.7.0
mss==9.0.1
numpy==1.24.2
packaging==23.1
Pillow==10.0.0
pip-tools==7.3.0
pycodestyle==2.11.0
pyflakes==3.1.0
PyOpenGL==3.1.6
pyperclip==1.8.2
pyproject_hooks==1.0.0
PyQt3D==5.15.6
PyQt3D-Qt==5.15.2
PyQt3D-Qt5==5.15.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pytesseract==0.3.10
screeninfo==0.8.1
